.container {
    background-image: url(../../components/assets/img/home2.jpg);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.caixa {

    width: 500px;
    height: 550px;
    background-color: transparent;
    justify-items: center;
}

.titulo {
    color: white !important;
    font-weight: bold !important;
}

.botao {
    border-color: white !important;
    background-color: #f1e4eb;
    color: white !important;
}

.postagens {
    background-color: white;
}